/* ----- sobre-mi ----- */
#sobre-mi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    background: $color-terciario;
}

#sobre-mi p {
    margin: 20px 0px;
}

.info {
    margin-left: 10%;
    width: 30%;
}

.info button{
    padding: 5px 10px;
    border: 15px;
    color: $blanco;
    background: $color-secundario;
    box-shadow: 1px 1px 3px #333;
}

.info a{
    color: $color-terciario;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
}

.tecnologias {
    width: 30%;
    margin-right: 10%;
}