// header
.header-estudios {
    background: $color-secundario;

    .nav-estudios {

        li {
            margin-left: 1rem;

            a {
                font-size: 1rem;
            }
        }
    }
}
.contenedor-estudios {
    background: $color-terciario;

    .articulo-estudios {
        width: 80%;
    }
}
// carousel
.carrusel-estudios {
    h1 {
        color: $blanco;
    }
}

.carousel-item img {
    width: 60%;
    margin: 0px auto;
}