.btn-terciario {
    padding: 6px 14px;
    transition: all .3s;
    border: none;
    background: $color-terciario;
    box-shadow: 2px 3px 2px darken($color-terciario, 20%);
    border-radius: 8px;
    
    &:hover {
        background: lighten($color-terciario, 4%);
        box-shadow: 2px 3px 2px darken($color-terciario, 16%);
    }
}

.btn-primario {
    padding: 6px 14px;
    transition: all .3s;
    border: none;
    background: $color-secundario;
    box-shadow: 2px 3px 2px darken($color-secundario, 20%);
    border-radius: 8px;
    
    &:hover {
        background: lighten($color-secundario, 4%);
        box-shadow: 2px 3px 2px darken($color-secundario, 16%);
    }
}