/* ----- proyectos ----- */
.proyectos {
    position: relative;

    h2{
        font-family: $helvetica;
        margin: 25px 0px;
        text-align: center;
        color: $color-secundario;
    }
    
    &__contenedor {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 3rem;
        
        &__card {
            width: 30%;
            min-width: 300px;
            text-align: center;
            margin: 1.4rem 1rem;
            font-family: $mulish;
            border-radius: 12px;
            overflow: hidden;
            box-shadow: 1px 1px 8px #888;
            transition: all .5s;
            
            &:hover {
                box-shadow: 2px 2px 8px #555;

                h3 {
                    color: $color-secundario;
                }
            }

            img {
                width: 100%
            }
            
            &__body {
                padding: 1.8rem 1.4rem;

                h3 {
                    transition: all .5s;
                }
    
                p {
                    color: $color-primario;
                }
                
                a {
                    @extend .btn-primario;
                    margin: 0px auto;
                    margin-top: .9rem;
                    width: 110px
                }
            }
        }
    }

    &__btn-ver-mas {
        @extend .btn-primario;
        margin: 0px auto;
        margin-top: .9rem;
        width: auto;
        padding: .5rem;
        position: absolute;
        bottom: 21px;
        right: 2rem;

        a {
            color: rgb(226, 221, 221);
            font-weight: bold;
            text-decoration: none;
            font-size: 1rem;
        }
    }
}