/* ----- servicios ----- */
#servicios {
    background: $blanco;
    font-family: $mulish;
    color: $color-primario;
    height: auto;
    padding: 3rem 0px;
}

#servicios h2 {
    margin-bottom: 25px;
    text-align: center;
    font-weight: normal;
    font-family: $helvetica;

    span {
        font-weight: bold;
        color: $color-secundario;
    }
}

#servicios .contenedor {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#servicios .contenedor .card {
    width: 30%;
    min-width: 320px;
    text-align: center;
    margin: 1.2rem .8rem;
}

#servicios .card h3 {
    margin: 7px;
}

#servicios .contenedor .card img{
    user-select: none;
    width: 240px;
}