/* ----- sobre-mi ----- */
.sobre-mi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: start;
    padding: 3rem 0px;
    background: $color-secundario;

    h2, h3 {
        font-family: $helvetica;
    }

    &__info {
        text-align: center;
        margin-left: 10%;
        width: 40%;
        min-width: 400px;

        p {
            margin: .6rem 0px;
            word-spacing: 1px;
            font-family: $mulish;
        }

        &__btn {
            @extend .btn-terciario;
            
            a {
                text-decoration: none;
                color: $blanco;
            }
        }
    }

    &__tecnologias {
        justify-self: start;
        width: 50%;
        letter-spacing: 1px;
        
        h3 {
            margin-bottom: 1rem;
            text-align: center;
        }

        .skills {
            &__item {
                margin-bottom: 1.1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                
                i {
                    margin-right: 2.4rem;
                    font-size: 2rem;
                    text-shadow: 1px 1px 1px black;
                }
                
                &__bar {
                    width: 190px;
                    height: 10px;
                    box-shadow: 1px 1px 5px #222;
                    border-radius: 8px;
                    background: #ddd;
                    position: relative;
                    overflow: hidden;

                    &--90::after {
                        content: '';
                        position: absolute;
                        border-radius: 8px;
                        left: -100%;
                        width: 190px;
                        height: 10px;
                        background: $color-terciario;
                        animation: skills-bar-fill-90 1.2s ease-in-out forwards;
                    }

                    &--75::after {
                        content: '';
                        position: absolute;
                        border-radius: 8px;
                        left: -100%;
                        width: 190px;
                        height: 10px;
                        background: $color-terciario;
                        animation: skills-bar-fill-75 1.2s ease-in-out forwards;
                    }

                    &--40::after {
                        content: '';
                        position: absolute;
                        border-radius: 8px;
                        left: -100%;
                        width: 190px;
                        height: 10px;
                        background: $color-terciario;
                        animation: skills-bar-fill-40 1.2s ease-in-out forwards;
                    }

                    &--60::after {
                        content: '';
                        position: absolute;
                        border-radius: 8px;
                        left: -100%;
                        width: 190px;
                        height: 10px;
                        background: $color-terciario;
                        animation: skills-bar-fill-60 1.2s ease-in-out forwards;
                    }
                }
            }
        }

    }
}

// animacion
@keyframes skills-bar-fill-90 {
    to {
        transform: translateX(85%);
    }
}

@keyframes skills-bar-fill-75 {
    to {
        transform: translateX(75%);
    }
}

@keyframes skills-bar-fill-40 {
    to {
        transform: translateX(40%);
    }
}

@keyframes skills-bar-fill-60 {
    to {
        transform: translateX(60%);
    }
}

@each $tecnologias, $color in $colores-tecnologias {
    .color-#{$tecnologias} {
        color: $color;
    }
}

/* ----- responsive ----- */
@media (max-width: 1075px) {
    .sobre-mi {
        &__tecnologias {
            width: 65%;
        }
    }
}

@media (max-width: 915px) {
    .sobre-mi {
        grid-template-columns: 1fr;
        gap: 3rem;

        &__info {
            margin: 0px;
            width: 90%;
        }

        &__tecnologias {
            justify-self: center;
            width: 100%;
        }
    }
}

@media (max-width: 615px) {
    .skills__item__bar {
        width: 170px;
        
        &::after {
            width: 170PX;
        }
    }
}