// ----- variables

// fuentes de google
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&display=swap');

// colors
$color-primario: #222831;
$color-secundario: #2d4059;
$color-secundario-claro: #2e5871;
$color-terciario: #ff5722;
$blanco: #eeeeee;

// fuentes
$helvetica: Helvetica, Arial;
$mulish: 'Mulish', sans-serif;